body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/static/img/QpjXam.jpg");
  
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vertical-center {
    min-height: 100%;
    min-height: 100%;
  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}