body, html {
    height: 100%;
}

.bg-welcome {
    /* The image used */
    background-image: url("/static/img/QpjXam.jpg");

    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: #6BB369;
}

.vertical-center {
    min-height: 90%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dropdown-menu {
  background-color: ;
}

#container-allbooks {
  margin-top: 40px;
  margin-bottom: ;
}

#title-allbooks {
  margin-top: 10px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #d8d8d8;
}

#title-freebooks {
  margin-top: 10px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #d8d8d8;
}


#container-freebooks {
  margin-top: 40px;
  margin-bottom: ;
}

