{% extends 'base.html' %}

{% block content %}

<body class="bg">
  {% if error %}
  {{ error }}
  <br>
  <br>
  {% endif %}
  <div class="container vertical-center">
    <div></div>
    <div class="col-lg-4">
      <div class="jumbotron align-center" style="width: 500px">
        <h2> Don't need a book anymore? </h2>
        <h2> Share it with others for free! </h2>
        <br>
        <form method="POST" action="{% url 'createexchangebook' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            Title: <input type="text" name="title" />
          </div>
          <div class="form-group">
            Body: <input type="textbox" name="body" />
          </div>
          <table style="width:100%" align="centre">
            <thead>Book condition:</thead>
            <br>
            <tr>
              <td><input type="radio" name="condition_choices" value="NEW">New</td>
              <td><input type="radio" name="condition_choices" value="USED_NEW"> Average</td>
            </tr>
            <tr>
              <td><input type="radio" name="condition_choices" value="USED_GOOD"> Good</td>
              <td><input type="radio" name="condition_choices" value="USED_JADED"> Bad</td>
            </tr>
          </table>
          <div class="form-group">
            Book image:
            <br>
            <input type="file" name="image" />
            <br>
          </div>
          <br>
          Thank you for sharing the book with other!
          <br>
          <input type="hidden" name="exchange_choices" value="FREE" checked="checked">
          <br>
          <input class="btn btn-primary" type="submit" value="Add this book" />
          <br>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>
</body>


{% endblock %}