{% extends "base.html" %}
{% block content %}

<body class="bg-welcome">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="vertical-center">
          <div>
            <h1 class="text-light">Get A Book</h1>
            <a class="btn btn-primary" href="/books/freebooks">For Free</a>
            <a class="btn btn-secondary" href="/books/exchangebooks">Exchange</a>
            <a class="btn btn-dark" href="/books/allbooks">Browse All</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="vertical-center">
          <div>
            <h1 class="text-light">Give A Book</h1>
            <a class="btn btn-primary" href="/books/createfreebook">For Free</a>
            <a class="btn btn-secondary" href="/books/createexchangebook">Exchange</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}